<header class="header">
  <div class="container">
    <div class="header__body">
      <button class="burger">
        <span class="burger__line"></span>
      </button>
      <div class="logo header__logo">
        <img src="" class="logo__image" alt="">
      </div>
      <nav class="menu header__menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#!" class="menu__link"></a>
          </li>
        </ul>
      </nav>
      <div class="user">
        <a href="#!" class="user__link"></a>
      </div>
    </div>
  </div>
</header>