<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="form">
        <div class="message">
          <h2 class="message__title">Подпишитесь на новости центра</h2>
          <p class="message__info">
            Хотите не пропускать важные новости, акции и скидки? Подписывайтесь и будьте в курсе!
          </p>
        </div>
        <form action="#!" class="subscribe">
          <ul class="subscribe__form" role="none">
            <li class="subscribe__input">
              <label for="subscribe_name" class="screen-reader">Имя</label>
              <input type="text" id="subscribe_name" name="subscribe_name" placeholder="Имя" required>
            </li>
            <li class="subscribe__input">
              <label for="subscribe_email" class="screen-reader">Email</label>
              <input type="email" id="subscribe_email" name="subscribe_email" placeholder="Email" required>
            </li>
          </ul>
          <p class="subscribe__policy">
            Нажимая на кнопку «подписаться», я даю согласие на обработку персональных данных в соответствии с
            <a href="#privacy-policy" class="text-link">Политикой конфиденциальности</a>
          </p>
          <button type="submit" class="btn btn--big btn--wide">Подписаться</button>
        </form>
      </div>
      <div class="info">
        <div class="details">
          <div class="details__logo">
            <img src="img/logo.svg" alt="Лого Ювейя Буква Ю рукописным шрифтом">
          </div>
          <address class="details__address">
            Оздоровительный центр "Ювейя"<br>
            г. Москва ул. Ярцевская, 27, корпус 9.<br>
            ООО "Пять стихий" ИНН 9731052000
          </address>
          <small class="details__copyright">&copy; 2021 Ювейя</small>
          <a href="#policy" class="text-link details__policy">Политика конфиденциальности</a>
        </div>
        <div class="contacts">
          <a href="mailto:info@uweya.ru" class="text-link contacts__link">info@uweya.ru</a>
          <a href="tel:+79684704709" class="text-link contacts__link">+7 (968) 470-47-09</a>
          <ul class="contacts__socials" role="none">
            <li class="contacts__social">
              <a href="#whatsapp">
                <i class="icon-whatsapp"></i>
              </a>
            </li>
            <li class="contacts__social">
              <a href="#facebook">
                <i class="icon-facebook"></i>
              </a>
            </li>
            <li class="contacts__social">
              <a href="#vk">
                <i class="icon-vk"></i>
              </a>
            </li>
            <li class="contacts__social">
              <a href="#instagram">
                <i class="icon-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>