<header class="header">
  <div class="container">
    <div class="header__body">
      <a href="#home" class="logo header__logo" aria-hidden="true" tabindex="-1">
        <img src="img/logo.svg" class="logo__image" alt="Лого Ювейя Буква Ю рукописным шрифтом">
      </a>
      <nav class="menubar header__menu" aria-hidden="true">
        <ul class="menubar__list">
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link menubar__link--active" role="menuitem">Главная</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">О нас</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">Специалисты</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">Расписание</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">Отзывы</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">Блог</a>
          </li>
          <li class="menubar__item">
            <a href="#!" class="menubar__link text-link" role="menuitem">Контакты</a>
          </li>
        </ul>
      </nav>
      <a href="https://api.whatsapp.com/send?phone=79684704709" class="whatsapp text-link header__whatsapp">
        <div class="whatsapp__icon">
          <span class="icon-whatsapp"></span>
        </div>
        <span class="whatsapp__phone">+7 (968) 470-47-09</span>
      </a>
      <button type="button" class="burger header__burger" id="burger_open" aria-label="menu" aria-controls="navigation">
        <span class="burger__inner"></span>
      </button>
      <div class="side-menu" id="navigation">
        <div class="side-menu__backdrop"></div>
        <div class="side-menu__wrapper">
          <button type="button" class="side-menu__close" id="burger_close" aria-label="close menu">
            <span class="icon-close"></span>
          </button>
          <nav class="menu">
            <ul class="menu__list" role="menubar">
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link menu__link--active" role="menuitem">Главная</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">О нас</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Специалисты</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Расписание</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Йога и цигун</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Семинары и курсы</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Семинары и курсы онлайн</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Методики оздоровления и массажи</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Путешествия со смыслом</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Отзывы</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Аренда</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Блог</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Видеоблог</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Архив событий</a>
              </li>
              <li class="menu__item" role="none">
                <a href="#!" class="menu__link text-link" role="menuitem">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="contact">
            <a href="mailto:info@uweya.ru" class="text-link contact__link">info@uweya.ru</a>
            <br>
            <a href="tel:+79684704709" class="text-link contact__link">+7 (968) 470-47-09</a>
            <ul class="socials contact__socials">
              <li class="socials__item">
                <a href="#facebook" class="socials__link">
                  <span class="icon-facebook"></span>
                </a>
              </li>
              <li class="socials__item">
                <a href="#vk" class="socials__link">
                  <span class="icon-vk"></span>
                </a>
              </li>
              <li class="socials__item">
                <a href="#instagram" class="socials__link">
                  <span class="icon-instagram"></span>
                </a>
              </li>
              <li class="socials__item">
                <a href="#youtube" class="socials__link">
                  <span class="icon-youtube"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>