.header {
  background-color: @white;
  padding: 17px 0;
  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    flex: 0 0 50px;
    width: 100%;
    max-width: 50px;
  }
  &__menu {
  }
  .logo {
    &__image {
    }
  }
  .menubar {
    &__list {
      display: flex;
    }
    &__item {
    }
    &__link {
    }
  }
  .whatsapp {
    display: flex;
    align-items: center;
    &__icon {
    }
    &__phone {
    }
  }
  &__burger {
    position: relative;
    flex: 0 0 36px;
    width: 100%;
    max-width: 36px;
    height: 20px;
    z-index: 4;
    &.active {
      &.burger {
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
      .burger__line {
        transform: scale(0);
      }
    }
  }
  .burger {
    &__line {
      display: block;
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 2px;
      background: @black;
      transition: transform @anim-slow;
    }
    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: @black;
      transition: transform @anim-slow;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
  .side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity @anim-slow;
    z-index: 3;
    &.active {
      opacity: 1;
      .side-menu__backdrop {
        opacity: 1;
      }
      .side-menu__wrapper {
        transform: translate3d(0, 0, 0);
      }
    }
    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(4px);
      opacity: 0;
      transition: opacity @anim-slow;
      z-index: 2;
    }
    &__wrapper {
      position: relative;
      width: 450px;
      height: 100%;
      background-color: @white;
      padding-top: 85px;
      padding-right: 55px;
      padding-bottom: 65px;
      padding-left: 55px;
      transform: translate3d(200px, 0, 0);
      transition: transform @anim-slow;
      overflow-y: scroll;
      z-index: 3;
    }
  }
  .menu {
    margin-bottom: 30px;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__link {
      font-family: @heading;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1;
      text-transform: uppercase;
      color: @black;
      transition: color @anim-fast;
      &:hover,
      &:focus {
        color: @green-dark;
      }
      &--active {
        color: @green-dark;
        cursor: default;
      }
    }
  }
  .contacts {
    &__link {
      display: inline-block;
      color: @black;
      margin-bottom: 15px;
    }
    &__socials {
      display: grid;
      grid-template-columns: repeat(4, 30px);
      align-items: center;
      column-gap: 10px;
      margin-left: -6px;
    }
    &__social {
      svg {
        fill: @green;
        transition: fill @anim-slow;
        &:hover,
        &:focus {
          fill: @green-dark;
        }
      }
    }
  }
}
