@media (hover: hover) {
}
@media only screen and (max-width: 1200px) {
  .footer {
    &__body {
      flex-wrap: wrap;
    }
    .form {
      margin-right: 0;
      margin-bottom: 35px;
    }
    .info {
      flex-basis: 650px;
      max-width: 650px;
      align-items: center;
      margin-left: 0;
    }
    .details {
      margin-right: 20px;
      margin-left: 0;
    }
    .contacts {
      margin-right: auto;
      margin-left: 0;
    }
  }
  .header {
    .whatsapp {
      &__phone {
        display: none;
      }
    }
  }
}
@media @xl {
  :root {
    font-size: 11px;
  }
}
@media @lg {
}
@media @md {
  .header {
    &__logo {
      margin-right: 0;
    }
    &__menu {
      display: none;
    }
    &__whatsapp {
      margin-right: 0;
    }
    .whatsapp {
      &__phone {
        display: block;
      }
    }
  }
  .contacts {
    &__map {
      margin-right: 30px;
    }
  }
}
@media @sm {
  .blog {
    &__cards {
      row-gap: 50px;
    }
  }
  .contacts {
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__map {
      width: 100%;
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 25px;
      iframe {
        height: 350px;
      }
    }
  }
  .container {
    padding: 0 15px;
  }
}
@media @xs {
  .article {
    padding-bottom: 40px;
    &__date {
      margin-bottom: 15px;
    }
    h1 {
      font-size: 2rem;
      margin-top: 25px;
    }
    h2 {
      font-size: 1.8rem;
      margin-top: 15px;
    }
    h3 {
      font-size: 1.6rem;
      margin-top: 10px;
    }
    & > p {
      font-size: 1.6rem;
      margin-top: 10px;
    }
    & > img {
      margin-top: 15px;
    }
    ul,
    ol {
      font-size: 1.6rem;
    }
    blockquote {
      padding: 15px 20px;
      margin-top: 15px;
      &::before,
      &::after {
        font-size: 1.4rem;
      }
    }
  }
  .blog {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__search {
      margin-bottom: 25px;
    }
    &__cards {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
  .blog-entry {
    &__image {
      height: 200px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__link {
      .label {
        font-size: 1.6rem;
      }
    }
  }
  .contacts {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__content {
      align-items: flex-start;
    }
    &__map {
      iframe {
        height: 200px;
      }
    }
    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    &__address {
      margin-bottom: 15px;
    }
    &__link {
      margin-bottom: 5px;
    }
    &__schedule {
      margin-bottom: 15px;
    }
    &__code {
      margin-bottom: 15px;
    }
    &__email {
      margin-bottom: 15px;
    }
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 110px;
    .form {
      flex-wrap: wrap;
      justify-content: center;
    }
    .message {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      &__title {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      &__info {
        font-size: 1.6rem;
      }
    }
    .subscribe {
      flex-basis: 320px;
      max-width: 320px;
    }
    .info {
      flex-wrap: wrap;
      justify-content: center;
    }
    .details {
      flex-basis: 320px;
      max-width: 320px;
      text-align: center;
      margin-right: 0;
      margin-bottom: 35px;
      &__logo {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
      }
      &__address {
        margin-bottom: 20px;
      }
      &__copyright {
        margin-bottom: 20px;
      }
    }
    .contact {
      flex-basis: 320px;
      text-align: center;
      margin-right: 0;
      &__link {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      &__socials {
        justify-content: center;
      }
    }
  }
  .header {
    .whatsapp {
      &__phone {
        display: none;
      }
    }
    .side-menu {
      &__close {
        top: 22px;
        right: 15px;
      }
      &__backdrop {
        display: none;
      }
      &__wrapper {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 90px 20px;
      }
    }
    .menu {
      margin-bottom: 40px;
      &__link {
        font-size: 1.3rem;
      }
    }
  }
  .main-text {
    font-size: 1.6rem;
  }
  .page-title {
    font-size: 2rem;
    padding: 15px 0;
  }
  .route {
    padding-bottom: 40px;
    &__title {
      font-size: 2rem;
      margin-bottom: 15px;
    }
    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    &__text + &__subtitle {
      margin-top: 15px;
    }
  }
}
