@media only screen and (max-width: 1200px) {
  .footer {
    &__body {
      max-width: 650px;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
    }
    .details {
      flex-shrink: 1;
      flex-basis: 320px;
      order: 2;
    }
    .form {
      flex-basis: 100%;
      justify-content: center;
      order: 1;
      margin-bottom: 35px;
    }
    .contact {
      flex-shrink: 1;
      align-self: center;
      order: 3;
      margin-right: auto;
      margin-left: 0;
    }
  }
  .header {
    &__whatsapp {
      margin-right: 35px;
    }
    &__phone {
      display: none;
    }
  }
}
@media @xl {
  :root {
    font-size: 11px;
  }
}
@media @lg {
}
@media @md {
  .about {
    &__desc {
      max-width: 650px;
    }
    &__hall {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .image {
        max-width: 650px;
        flex-basis: auto;
        margin-right: 0;
        margin-top: 30px;
      }
      .info {
        max-width: 650px;
        flex-basis: auto;
      }
    }
    &__founder {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .image {
        max-width: 650px;
        flex-basis: auto;
        margin-bottom: 30px;
      }
      .info {
        max-width: 650px;
        flex-basis: auto;
        margin-right: 0;
      }
    }
  }
  .blog {
    &__more {
      display: none;
    }
  }
  .header {
    &__menu {
      display: none;
    }
    &__whatsapp {
      margin-right: 15px;
    }
    &__phone {
      display: block;
      margin-right: auto;
    }
  }
  .contacts {
    &__map {
      margin-right: 30px;
    }
  }
  .popup {
    &__content {
      padding: 25px 20px;
    }
  }
}
@media @sm {
  .about {
    &__hero {
      padding: 64px 15px;
    }
    &__interior {
      display: block;
      text-align: center;
      li + li {
        margin-top: 10px;
        margin-left: 0;
      }
    }
    &__banner {
      padding: 35px 15px;
      margin-bottom: 25px;
    }
  }
  .blog {
    &__cards {
      row-gap: 50px;
    }
  }
  .contacts {
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__map {
      width: 100%;
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 25px;
      iframe {
        height: 350px;
      }
    }
  }
  .container {
    padding: 0 15px;
  }
  .hall {
    &__gallery {
      display: block;
    }
    .gallery {
      &__main {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  .hystmodal {
    &__window {
      display: block;
    }
  }
}
@media @xs {
  .about {
    font-size: 1.6rem;
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__hero {
      margin-bottom: 25px;
    }
    &__desc {
      & + & {
        margin-top: 15px;
      }
    }
    &__interior {
      margin-top: 25px;
      margin-bottom: 25px;
      li {
        width: 100%;
      }
    }
    &__hall {
      margin-bottom: 25px;
      .image {
        margin-top: 20px;
      }
      .text {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    &__founder {
      .subtitle {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .text {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
  .archive {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
    }
    &__search {
      margin-right: 0;
      margin-bottom: 25px;
    }
    &__tags {
      a {
        font-size: 1.8rem;
      }
    }
  }
  .article {
    padding-top: 15px;
    padding-bottom: 40px;
    &__date {
      margin-bottom: 15px;
    }
    h1 {
      font-size: 2rem;
      margin-top: 25px;
    }
    h2 {
      font-size: 1.8rem;
      margin-top: 15px;
    }
    h3 {
      font-size: 1.6rem;
      margin-top: 10px;
    }
    & > p {
      font-size: 1.6rem;
      margin-top: 10px;
    }
    & > img {
      margin-top: 15px;
    }
    ul,
    ol {
      font-size: 1.6rem;
    }
    blockquote {
      padding: 15px 20px;
      margin-top: 15px;
      &::before,
      &::after {
        font-size: 1.4rem;
      }
    }
  }
  .blog {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__search {
      margin-bottom: 25px;
    }
    &__cards {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
  .blog-entry {
    &__image {
      height: 200px;
      margin-bottom: 15px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__link {
      .label {
        font-size: 1.6rem;
      }
    }
  }
  .contacts {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__content {
      align-items: flex-start;
    }
    &__map {
      iframe {
        height: 200px;
      }
    }
    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    &__address {
      margin-bottom: 15px;
    }
    &__link {
      margin-bottom: 5px;
    }
    &__schedule {
      margin-bottom: 15px;
    }
    &__code {
      margin-bottom: 15px;
    }
    &__email {
      margin-bottom: 15px;
    }
  }
  .content-card {
    &__info {
      padding: 15px;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 1.6rem;
      margin-bottom: 15px;
    }
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 110px;
    .details {
      order: 1;
      text-align: center;
      margin-right: 0;
      margin-bottom: 35px;
      &__logo {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
      }
      &__address {
        margin-bottom: 20px;
      }
      &__copyright {
        margin-bottom: 20px;
      }
    }
    .form {
      flex-wrap: wrap;
      justify-content: center;
    }
    .message {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      &__title {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      &__info {
        font-size: 1.6rem;
      }
    }
    .subscribe {
      flex-basis: 320px;
      max-width: 320px;
    }
    .contact {
      flex-basis: 320px;
      text-align: center;
      margin-right: 0;
      &__link {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      &__socials {
        justify-content: center;
      }
    }
  }
  .gallery {
    margin-bottom: 40px;
    &__title {
      margin-bottom: 20px;
    }
    &__photos {
      row-gap: 20px;
    }
    &__photo {
      figcaption {
        font-size: 1.8rem;
        padding: 15px;
      }
    }
  }
  .hall {
    padding-bottom: 30px;
    &__info {
      padding: 30px 0;
    }
    &__text {
      font-size: 1.6rem;
    }
    &__timetable {
      padding: 30px 0;
    }
    &__subtitle {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    &__pricelist {
      margin-bottom: 20px;
    }
    &__price {
      display: block;
      font-size: 1.8rem;
      text-align: left;
      padding: 15px;
      & + & {
        margin-top: 10px;
      }
      .time {
        margin-bottom: 20px;
      }
    }
    &__gallery {
      padding-top: 30px;
    }
    .gallery {
      &__main {
        margin-bottom: 10px;
      }
      &__additional {
        grid-template-columns: 1fr;
        gap: 10px;
      }
    }
  }
  .header {
    &__logo {
      margin-right: 0;
    }
    &__whatsapp {
      margin-right: 0;
      span {
        font-size: 4rem;
      }
    }
    &__phone {
      display: none;
    }
    .side-menu {
      &__close {
        top: 22px;
        right: 15px;
      }
      &__backdrop {
        display: none;
      }
      &__wrapper {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 90px 20px;
      }
    }
    .menu {
      margin-bottom: 40px;
      &__link {
        font-size: 1.4rem;
      }
    }
  }
  .hystmodal {
    &__window {
      margin: 0 15px;
    }
    &__close {
      top: 15px;
      right: 15px;
    }
  }
  .main-text {
    font-size: 1.6rem;
  }
  .page-title {
    font-size: 2rem;
    padding: 15px 0;
  }
  .popup {
    &__title {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 1.6rem;
    }
    &__text + form {
      margin-top: 15px;
    }
    &__form + &__btn {
      margin-top: 15px;
    }
    &__success {
      padding: 35px 25px;
    }
  }
  .rent {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__hero {
      padding: 30px 15px;
      margin-bottom: 25px;
    }
  }
  .route {
    padding-bottom: 40px;
    &__title {
      font-size: 2rem;
      margin-bottom: 15px;
    }
    &__subtitle {
      font-size: 1.8rem;
      margin-bottom: 5px;
    }
    &__text + &__subtitle {
      margin-top: 15px;
    }
  }
  .text-banner {
    &__content {
      padding: 7px;
    }
    &__info {
      padding: 8px;
    }
    &__text {
      font-size: 1.6rem;
      & + & {
        margin-top: 15px;
      }
      &--big {
        font-size: 1.8rem;
      }
    }
  }
  .v-blog {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 30px;
    }
    &__search {
      margin-bottom: 25px;
    }
    &__cards {
      grid-template-columns: 1fr;
      row-gap: 30px;
      margin-bottom: 30px;
    }
  }
  .v-blog-entry {
    &__info {
      padding: 15px;
    }
    &__date {
      margin-bottom: 5px;
    }
    &__title {
      font-size: 1.8rem;
    }
  }
}
