@media (hover: hover) {
}
@media only screen and (max-width: 1200px) {
  .footer {
    &__body {
      flex-wrap: wrap;
    }
    .form {
      margin-right: 0;
      margin-bottom: 35px;
    }
    .info {
      flex-basis: 650px;
      max-width: 650px;
      align-items: center;
      margin-left: 0;
    }
    .details {
      margin-right: 20px;
      margin-left: 0;
    }
    .contacts {
      margin-right: auto;
      margin-left: 0;
    }
  }
  .header {
    .whatsapp {
      &__phone {
        display: none;
      }
    }
  }
}
@media @xl {
  :root {
    font-size: 11px;
  }
}
@media @lg {
}
@media @md {
  .header {
    &__logo {
      margin-right: 0;
    }
    &__menu {
      display: none;
    }
    &__whatsapp {
      margin-right: 0;
    }
    .whatsapp {
      &__phone {
        display: block;
      }
    }
  }
}
@media @sm {
  .container {
    padding: 0 15px;
  }
}
@media @xs {
  .header {
    .whatsapp {
      &__phone {
        display: none;
      }
    }
    .side-menu {
      &__close {
        top: 22px;
        right: 15px;
      }
      &__backdrop {
        display: none;
      }
      &__wrapper {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 90px 20px;
      }
    }
    .menu {
      margin-bottom: 40px;
      &__link {
        font-size: 1.3rem;
      }
    }
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 110px;
    .form {
      flex-wrap: wrap;
      justify-content: center;
    }
    .message {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
      &__title {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      &__info {
        font-size: 1.6rem;
      }
    }
    .subscribe {
      flex-basis: 320px;
      max-width: 320px;
    }
    .info {
      flex-wrap: wrap;
      justify-content: center;
    }
    .details {
      flex-basis: 320px;
      max-width: 320px;
      text-align: center;
      margin-right: 0;
      margin-bottom: 35px;
      &__logo {
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;
      }
      &__address {
        margin-bottom: 20px;
      }
      &__copyright {
        margin-bottom: 20px;
      }
    }
    .contacts {
      flex-basis: 320px;
      text-align: center;
      margin-right: 0;
      &__link {
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
      &__socials {
        justify-content: center;
      }
    }
  }
}
