.blog {
  padding-bottom: 90px;
  &__title {
    margin-bottom: 35px;
  }
  &__search {
    margin-bottom: 50px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, max-content));
    justify-content: center;
    justify-items: center;
    column-gap: 50px;
    row-gap: 90px;
  }
}
